form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        width: 25rem;

        border: 1px solid rgb(172, 172, 172);
        border-radius: 1rem;

        padding: 1rem;

        // background-color: aqua;
    }

    mat-form-field {
        min-width: 20rem;
    }

    p {
        color: red;
    }
}