<h1>Welcome to Match Finder!</h1>
<h1>{{testServie.nameSig()}}</h1>
<button (click)="testServie.changeName()">Change name</button>

<!-- <button (click)="setLocalStorage()" mat-flat-button>Set Local Storage</button>
<button (click)="getValueLocalStorage()" mat-flat-button>Get Value Local Storage</button> -->

<!-- <button (click)="setLocalStorage2()" mat-flat-button>Set Local Storage2</button>
<button (click)="getNationalCode()" mat-flat-button>Get Value of N</button>
<button (click)="setLocalSCopy()" mat-flat-button>Set Local Storage Copy</button>
<button (click)="removeOneItemOfLocalStorage()" mat-flat-button>Remove</button>
<button (click)="clearLocalStorage()" mat-flat-button>Clear Local Storage</button>
<button (click)="getLocalStorageLength()" mat-flat-button>Get</button>
<button (click)="getLocalStorageKey()" mat-flat-button>Get Local Storage Key</button> -->
