<h1>Welcome to Match Finder!</h1>
<h1>{{testService.nameSig()}}</h1>
<button mat-flat-button (click)="testService.changeSignalValue()">Change value</button>


<!-- <button (click)="setLocalStorage()" mat-flat-button>Set Local Storage</button>
<button (click)="getValueLocalStorage()" mat-flat-button>Get Value Local Storage</button> -->

<!-- <button (click)="setLocalStorage2()" mat-flat-button>Set Local Storage2</button>
<button (click)="getValueFromLocalStorage()" mat-flat-button>Get value from local storage</button> -->