.container {
    display: flex;
    flex-direction: column;

    .head {
        display: flex;
        align-items: center;
        height: 3rem;
        margin-top: 1rem;
        margin-left: 1rem;

        .title {
            margin: 0;
        }
    }

    .content {
        // background-color: green;
        padding: 2% 4%;
        display: flex;
        //     gap: 2rem;

        mat-card {
            img {
                border-radius: 10px;
            }

            width: 15rem;

            mat-card-content {
                // background-color: aqua;
                margin-top: 1rem;
            }

            mat-card-actions button {
                // background-color: brown;
                width: 100%;
            }
        }


            mat-tab-group {
                // background-color: red;
                flex-grow: 3;
                margin-left: 1rem;

                .tab-contents {
                    padding: 1rem;
                }

                .about-contents {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
    }
}