<div class="container">
    <h1>Find Your Beloved One!</h1>
    <div class="members-container">
        @for (member of members; track $index) {
        <mat-card class="card">
            <div class="card-img-wrapper">
                <img src="images/member.jpg" alt="{{member.userName}}">
                <ul class="user-icons">
                    <li>
                        <button mat-mini-fab>
                            <mat-icon color="primary">person_add</mat-icon>
                        </button>
                    </li>
                    <li>
                        <button mat-mini-fab>
                            <mat-icon color="warn">favorite</mat-icon>
                        </button>
                    </li>
                    <li>
                        <button mat-mini-fab>
                            <mat-icon color="accent">mail</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
            <mat-card-header>
                <div class="title">
                    <mat-icon>boy</mat-icon>
                    <!-- @if (member.gender == "male") {
                    <mat-icon>boy</mat-icon>
                    }
                    @else if (member.gender == "female") {
                    <mat-icon>woman</mat-icon>
                    }
                    @else {
                    <mat-icon>diversity_2</mat-icon>
                    } -->
                </div>
                <mat-card-subtitle>{{member.city}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        }
    </div>
</div>

<!-- 
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button matButton>LIKE</button>
    <button matButton>SHARE</button>
  </mat-card-actions>
</mat-card>
-->