
.container {
    display: flex;
    flex-direction: column;

    .members-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 2rem;
        flex-wrap: wrap;
    }
}