<mat-toolbar>
    <section class="left">
        <a class="brand" routerLink="/">
            <mat-icon>eco</mat-icon>
            Match Finder
        </a>
        <!-- <h1>{{testService.nameSig()}}</h1> -->
    </section>

    <section class="right">
        @if (accountService.loggedInUserSig(); as user) {
        <button mat-mini-fab [mat-menu-trigger-for]="appMenu" class="menu-button">
            <span>{{user.userName[0] | titlecase}}</span>
        </button>
        <mat-menu class="mat-menu" #appMenu>
            <div class="user-info">
                <div class="profile-info">
                    <img src="/images/member.jpg" alt="{{user.userName[0]}}">
                </div>
                <div>
                    <span>{{user.userName}}</span>
                </div>
            </div>

            <mat-divider></mat-divider>
            <mat-list>
                <mat-list-item>
                    <div class="menu-items">
                        <mat-icon>edit_note</mat-icon>
                        Edit Profile
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="menu-items">
                        <mat-icon>flaky</mat-icon>
                        All Members
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="menu-items">
                        <mat-icon>assignment_returned</mat-icon>
                        Messages
                    </div>
                </mat-list-item>
            </mat-list>

            <mat-divider></mat-divider>
            <div class="logout">
                <button mat-raised-button (click)="logout()" color="warn">Logout</button>
            </div>
        </mat-menu>
        }
        @else {
        <button routerLink="/account/register" mat-raised-button>Register</button>
        <button routerLink="/account/login" mat-raised-button>Login</button>
        }
    </section>
</mat-toolbar>


<!-- <mat-toolbar>
    <section class="left">
        <a class="brand" routerLink="/">
            <mat-icon>eco</mat-icon>
            Match Finder
        </a>
    </section>
    <section class="right">
        <button routerLink="/account/register" mat-raised-button>Register</button>
        <button routerLink="/account/login" mat-raised-button>Login</button>
    </section>
</mat-toolbar> -->