mat-toolbar {
    background-color: rgb(11, 113, 209);
    display: flex;
    justify-content: space-between;

    .left {
        .brand {
            color: white;
            text-decoration: none;
        }

        h1 {
            color: red;
        }
    }

    .right {
        // background-color: green;
        display: flex;
        gap: 6px;
    }
}


// mat-toolbar {
//     background-color: rgb(11, 113, 209);
//     display: flex;
//     justify-content: space-between;

//     .left {
//         .brand {
//             color: white;
//             text-decoration: none;
//         }
//     }

//     .right {
//         display: flex;
//         gap: 1rem;
//     }
// }