<mat-toolbar>
    <section class="left">
        <a class="brand" routerLink="/">
            <mat-icon>eco</mat-icon>
            Match Finder
        </a>
        <!-- <h1>{{testService.nameSig()}}</h1> -->
    </section>
    <section class="right">
        @if (accountService.loggedInUserSig()) {
        <button mat-raised-button (click)="logout()" color="warn">Logout</button>
        <h1>Login hast</h1>
        }
        @else {
        <button routerLink="/account/register" mat-raised-button>Register</button>
        <button routerLink="/account/login" mat-raised-button>Login</button>
        <h1>Login nist</h1>
        }
    </section>
</mat-toolbar>


<!-- <mat-toolbar>
    <section class="left">
        <a class="brand" routerLink="/">
            <mat-icon>eco</mat-icon>
            Match Finder
        </a>
    </section>
    <section class="right">
        <button routerLink="/account/register" mat-raised-button>Register</button>
        <button routerLink="/account/login" mat-raised-button>Login</button>
    </section>
</mat-toolbar> -->